{% extends 'catalog/users_page/pattern_client.html' %}

{% block title %}
Home
{% endblock %}
{% block extra_css %}
ul {
    list-style:none;
}
{% endblock %}
{% block body %}
<div class="container">
     <div class="row">
          <div class="col" style="padding: 0px; text-align: start; font-size: 18px;">
              <h3 style="text-align: center">Редагування профілю</h3>
              <hr>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
     <a href="{% url 'home_client'  customer.pk %}">
     <button type="button">Повернутись до профілю</button></a>
    <button type="submit">Зберегти зміни</button>


</form>
          </div>
    </div>
</div>


{% endblock %}