<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
    body{
     font-size: 16px;
    }
  .container {
  display: flex;
  justify-content: space-between;
}
  .space{
      width: 40%;
  }

        h3{
            text-align: center;
        }
    </style>
</head>
<body>
<header>
    <h3>ДОГОВІР </h3>
    <h3> ПРО СПІВРОБІТНИЦТВО (партнерство)</h3>
<div class="container">
  <p>м. Харків</p>
  <p>{{today}}</p>
</div>
</header>


<p><p><p>
<div class="cont">
<h3> 1.    ПРЕДМЕТ ДОГОВОРУ </h3>
1.1.    Предметом цього Договору є взаємодія і співробітництво сторін Договору з метою активізації та збільшення обсягу продажу товарів та послуг кожної із сторін окремо, розширення сфер діяльності сторін, підвищення господарської та економічної ефективності їх діяльності.
<p>
1.2.    Сторона-1 зобов’язується надати Стороні-2 інформаційну підтримку щодо товарів та послуг в сфері літакобудування, дозволяти використовувати власну інформаційну базу, а Сторона-2 зобов’язується надавати юридичну підтримку діяльності Сторони-1 відповідно до умов цього договору.
<p>
1.3.    Метою діяльності кожної із сторін є розвиток власного бізнесу та підвищення його ефективності. Сторони за цим договором не мають спільної мети. Цей договір не може бути розцінений як договір про спільну діяльність.
<p>
1.4.    До цього договору не застосовуються діюче законодавство, яке регулює орендні відносини, відносини найму або міни.
<p>
1.5.    Правовідносини, які виникають між сторонами щодо предмету цього договору, і не врегульовані його умовами, регулюються нормами цивільного та господарського законодавства.
<p>
<h3>2.    ЗОБОВ’ЯЗАННЯ СТОРІН</h3>

2.1.                     Сторона-2 зобов’язується:
<p>
2.1.1.       розробляти проекти договорів, процесуальних документів, листів, скарг, заяв тощо.
<p>
2.1.2.       консультувати Сторону-2 щодо юридичних питань, пов’язаних із здійсненням підприємницької діяльності.
<p>
2.1.3.        надавати іншу юридичну допомогу.
<p>
2.2.   Сторона-1 зобов’язується:
<p>
2.2.1.   надавати інформаційні бази, програмні продукти, поточну інформацію щодо товарів та послуг у сфері літакобудування для спільного користування та обміну інформацією.
<p>
2.2.2.   не чинити перешкод у здійсненні господарської діяльності Сторони-2;
<p>
2.3.   Сторони зобов’язані користуватися інформаційними базами за взаємною згодою.
<p>
2.4.   Сторона-2 зобов’язана користуватися інформаційними базами за її призначенням, особисто;
<p>
<h3>3. СТРОК ДІЇ ДОГОВОРУ, ІНШІ УМОВИ</h3>

3.1. Цей договір набуває чинності з моменту його підписання сторонами та діє до {{last_date}}.
<p>
3.2. Кожна із сторін має право розірвати договір в односторонньому порядку повідомивши іншу сторону за 15 днів.
<p>
3.3. Цей договір складений у двох екземплярах, по одному для кожної із сторін.

<h3>4. РЕКВІЗИТИ СТОРІН:</h3>
<div class="container" style="justify-content: space-around;">
  <div class="space"> Замовник:<br>
    Назва: Речі з історією<br>
    Адреса: м. Харків, вул. Зелена, <br>буд. 26, офіс 404<br>
    Тел/факс: +380 12-345-67-89<br>
      E-mail: its.mail@gmail.com<br>
      Директор: *Ім'я Фамілія*<br>
      <p></p>
      Підпис:<br><br>
      Директор *Ім'я Фамілія*
    </div>
    <div class="space">
  Виконавець:<br>
      "{{ supplier.company_name }}"<br>
      Місто  {{ supplier.phone_number }}<br>
      Тел. {{ supplier.city }}<br>
      E-mail: {{ supplier.email }}<br>
        Фізична особа: {{ supplier.contact_person_name }} {{ supplier.contact_person_surname }}<br>
        <p></p><br>
      Підпис:<br><br>
         {{ supplier.contact_person_surname }} {{ supplier.contact_person_name }}
        </div>
    </div>




</div>
<p></p>

</body>
</html>



