{% extends 'catalog/pattern.html' %}

{% block title %}
:))
{% endblock %}

{% block extra_css %}
{% endblock %}
{% block body %}
<ul>
    <h2>Оберіть необіхдний чек:</h2>
{% for receipt in receipts %}

    <li> <b>Чек №: {{ receipt.number_of_receipt|stringformat:"07d" }}</b>
            покупець: {{ receipt.id_customer }},
            дата покупки {{ receipt.date_of_purchase }}
         <p>
        <a href="{% url 'generate_receipt' receipt.pk %}">Завантажити чек</a></p>
        <hr>


        {% endfor %}
    </li>
</ul>
{% endblock %}
