{% extends 'catalog/pattern.html' %}
{% block title %}
Список товарів
{% endblock %}
{% block extra_css %}

{% endblock %}
{% block body %}
<div class="row">
            <div class="col" style="border: 3px solid #ad70c2;"><a class="p-2 text-dark" href="{% url 'lists_item' %}">Товари</a></div>
            <div class="col" style="border: 3px solid #ad70c2;"><a class="p-2 text-dark" href="{% url 'lists_supplier' %}">Постачальники</a></div>
            <div class="col" style="border: 3px solid #ad70c2;"><a class="p-2 text-dark" href="{% url 'lists_fabric' %}">Тканини</a></div>
            <div class="col" style="border: 3px solid #ad70c2;"><a class="p-2 text-dark" href="{% url 'lists_customer' %}">Клієнти</a></div>
            <div class="col" style="border: 3px solid #ad70c2;"><a class="p-2 text-dark" href="{% url 'lists_receipt' %}">Чеки</a></div></div>
<p></p>
<form method="get" action="{% url 'lists_item' %}">
    <input type="text" name="q" placeholder="Ваш запит" style="width: 300px; height: 20px; font-size: 14px; margin-right: 5px;">
    <button type="submit" style="font-size: 16px;">Пошук</button>
</form>
<div><form method="POST">
        {% csrf_token %} {{ sort_form.as_p }}
<input type="submit" value="Сортувати"/></form></div>
<p><a href="{% url 'new_lists' %}">Додати товар</a>

<div class="cont">
    <div class="row">
        <div class="col" style="text-align: start; margin: 10px; padding: 10px; width: 250px; flex: none">
            <a class="p-2 text-dark">
                <form method="get" action="{% url 'lists_item' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Фільтрувати</button>
                </form>
            </a>
        </div>
        <div class="col" style="text-align: start; margin: 10px; padding: 10px; width: 10%;">
            <a class="p-2 text-dark">
                <div class="cont">
<table>
    <thead>
        <tr>
             <th>ID</th>
             <th>Тип</th>
             <th>Бренд</th>
             <th>Розмір</th>
             <th>Приналежність</th>
             <th>Колір</th>
             <th>Тканина</th>
             <th>Хімічна обробка</th>
             <th>Стан</th>
             <th>Сезонність</th>
             <th>Ціна</th>
             <th>Ціна зі знижкою</th>
             <th>Постачальник</th>
             <th>Дії</th>
        </tr>
    </thead>
    <tbody>
    {% if items %}
        {% for item in items %}
        <tr>
            <td>{{ item.id_item }}</td>
            <td>{{ item.type }}</td>
            <td>{{ item.brand }}</td>
            <td>{{ item.get_size_display }}</td>
            <td>{{ item.get_gender_display }}</td>
            <td>{{ item.get_color_display }}</td>
            <td>{{ item.fabric }}</td>
            <td>{{ item.get_chemical_treatment_display }}</td>
            <td>{{ item.get_state_display }}</td>
            <td>{{ item.get_seasonality_display }}</td>
            <td>{{ item.price }} грн</td>
            <td>{{ item.discounted_price }} грн</td>
            <td>{{ item.supplier }}</td>

            <td><a href="{% url 'edit_item' item.pk %}">Змінити</a>
            <a href="{% url 'delete_item' item.pk %}">Видалити</a>
            </td>
        </tr>
        {% endfor %}
    {% endif %}
         </tbody>
    </table>

</div>
            </a>
        </div>
    </div>


</div>
{% endblock %}