{% extends 'catalog/pattern.html' %}
{% block extra_css %}
    form{
    margin-left: 10px;
    }
{% endblock %}
{% block title %}
Видалення
{% endblock %}

{% block body %}
<form method="post">
    <p>Ви впевнені, що хочете видалити цей запис?</p>
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Видалити</button>
    <a href="{% url 'lists_fabric' %}">
    <button type="button">Повернутись до списку</button></a>
</form>
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
{% endblock %}
