{% extends 'catalog/pattern.html' %}

{% block title %}
Пошук чеку
{% endblock %}

{% block extra_css %}
{% endblock %}
{% block body %}
 <div class="row">
            <div class="col" style="border: 3px solid #ad70c2;"><a class="p-2 text-dark" href="{% url 'search_item' %}">Товари</a></div>
            <div class="col" style="border: 3px solid #ad70c2;"><a class="p-2 text-dark" href="{% url 'search_supplier' %}">Постачальники</a></div>
            <div class="col" style="border: 3px solid #ad70c2;"><a class="p-2 text-dark" href="{% url 'search_fabric' %}">Тканини</a></div>
            <div class="col" style="border: 3px solid #ad70c2;"><a class="p-2 text-dark" href="{% url 'search_customer' %}">Клієнти</a></div>
            <div class="col" style="border: 3px solid #ad70c2;"><a class="p-2 text-dark" href="{% url 'search_receipt' %}">Чеки</a></div>
            </div>

<p></p>
<form method="get" action="{% url 'search_receipt' %}">
    <input type="text" name="q" placeholder="Ваш запит" style="width: 300px; height: 20px; font-size: 14px; margin-right: 5px;">
    <button type="submit" style="font-size: 16px;">Пошук</button>
</form>
<h2>Ваш запит:</h2>
<h3 style="font-weight: normal;">{{word}}</h3>
<h2>Результат запиту:</h2>
  {% if receipts %}
    {% for receipt in receipts %}
    <p> <b>Товар:</b> {{ receipt.id_item }},
        <b>Покупець: </b>{{ receipt.id_customer }},
        <b>Номер чеку: </b>№ {{ receipt.number_of_receipt|stringformat:"07d"  }},
        <b>Дата покупки: </b>{{ receipt.date_of_purchase }},
        <b>Вартість товару: </b>{{ receipt.the_item_cost }} грн,
        <b>Тип доставки: </b>{{ receipt.get_method_of_delivery_display }},
        <b>Тип оплати: </b>{{ receipt.get_payment_type_display }}</p>
  {% endfor %}
  {% endif %}
{% endblock %}
