{% extends 'catalog/pattern.html' %}

{% block title %}
Пошук товару
{% endblock %}

{% block extra_css %}

{% endblock %}
{% block body %}
 <div class="row">
            <div class="col" style="border: 3px solid #ad70c2;"><a class="p-2 text-dark" href="{% url 'search_item' %}">Товари</a></div>
            <div class="col" style="border: 3px solid #ad70c2;"><a class="p-2 text-dark" href="{% url 'search_supplier' %}">Постачальники</a></div>
            <div class="col" style="border: 3px solid #ad70c2;"><a class="p-2 text-dark" href="{% url 'search_fabric' %}">Тканини</a></div>
            <div class="col" style="border: 3px solid #ad70c2;"><a class="p-2 text-dark" href="{% url 'search_customer' %}">Клієнти</a></div>
            <div class="col" style="border: 3px solid #ad70c2;"><a class="p-2 text-dark" href="{% url 'search_receipt' %}">Чеки</a></div>
            </div>

<p></p>
<form method="get" action="{% url 'search_item' %}">
    <input type="text" name="q" placeholder="Ваш запит" style="width: 300px; height: 20px; font-size: 14px; margin-right: 5px;">
    <button type="submit"style="font-size: 16px;">Пошук</button>
</form>
<h2>Ваш запит:</h2>
<h3 style="font-weight: normal;">{{word}}</h3>
<h2>Результат запиту:</h2>
  {% if items %}
    {% for item in items %}
    <p> <b>Тип:</b> {{ item.type }},
        <b>бренд:</b> {{ item.brand }},
        <b>постачальник:</b> {{ item.supplier }},
        <b>тканина</b> {{ item.fabric }},
        <b>розмір</b> {{ item.get_size_display }},
        <b>приналежність</b> {{ item.get_gender_display }},
        <b>Колір</b> {{ item.get_color_display }},
        <b>хімічна обробка</b> {{ item.get_chemical_treatment_display }},
        <b>стан</b> {{ item.get_state_display }},
        <b>Сезонність</b> {{ item.get_seasonality_display }},
        <b>ціна</b> {{ item.price }} грн
    </p>
  {% endfor %}
  {% endif %}
{% endblock %}
