{% extends 'catalog/pattern.html' %}

{% block title %}
Home
{% endblock %}

{% block extra_css %}
 .container {
    display: flex;
    flex-direction: column;
  }

  .row {
    display: flex;
  }

  .col {
    background-color: rgb(229, 220, 232);
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
    margin: 10px;
  }
     td, th {
      border-collapse: collapse;
      border: 3px solid #245488;
    }
    td, th {
      padding: 5px 20px;
      text-align: center;
    background-color: rgb(229, 220, 232);
    }
    th{
    background-color: rgb(59%, 58%, 86%);
    }
    body{
    background-color: rgb(70%, 66%, 72%);
    }
    a {
    color: rgb(10, 26, 84);
    }
{% endblock %}

{% block body %}
<header>
  <div class="container">
        <div class="row">
            <div class="col"><h1>Речі з історією</h1></div>
        </div>
        <div class="row">
            <div class="col"><a class="p-2 text-dark" href="{% url 'lists' %}">Список товарів</a></div>
            <div class="col"><a class="p-2 text-dark" href="#">Про нас</a></div>
            <div class="col"><a class="p-2 text-dark" href="#">Контакти</a></div>
             <div class="col"><a class="p-2 text-dark" href="{% url 'authr' %}">Увійти</a></div>
        </div>
  </div>
</header>
    <h3>HOME</h3>
    <button id="table1-btn">Таблиця з товарами</button>
    <button id="table2-btn">Таблиця з розмірами</button>
    <button id="table3-btn">Таблиця зі станами</button>
<p>
<table id="table1">
   <thead>
        <tr>
             <th>ID</th>
             <th>Тип</th>
             <th>Розмір</th>
             <th>Колір</th>
             <th>Бренд</th>
             <th>Тканина</th>
             <th>Стан</th>
             <th>Опис</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.item_type }}</td>
            <td>{{ item.item_size }}</td>
            <td>{{ item.item_color }}</td>
            <td>{{ item.item_brand }}</td>
            <td>{{ item.item_cloth }}</td>
            <td>{{ item.item_state }}/10</td>
            <td>{{ item.item_text }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

    <table id="table2" style="display: none;">
    <thead>
        <tr>
            <th>ID</th>
            <th>Розмір</th>
        </tr>
    </thead>
    <tbody>
        {% for size in sizes %}
        <tr>
            <td>{{ size.id }}</td>
            <td>{{ size.size }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<table id="table3" style="display: none;">
    <thead>
        <tr>
            <th>ID</th>
            <th>Стан</th>
        </tr>
    </thead>
    <tbody>
        {% for state in states %}
        <tr>
            <td>{{ state.id }}</td>
            <td>{{ state.state }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>




<footer>

</footer>

{% endblock %}

