{% extends 'catalog/pattern.html' %}

{% block title %}
Home
{% endblock %}

{% block extra_css %}
 .container {
    display: flex;
    flex-direction: column;
  }

  .row {
    display: flex;
  }

  .col {
    background-color: rgb(229, 220, 232);
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
    margin: 10px;
  }
     td, th {
      border-collapse: collapse;
      border: 3px solid #245488;
    }
    td, th {
      padding: 5px 20px;
      text-align: center;
    background-color: rgb(229, 220, 232);
    }
    th{
    background-color: rgb(59%, 58%, 86%);
    }
    body{
    background-color: rgb(70%, 66%, 72%);
    }
    a {
    color: rgb(10, 26, 84);
    }
{% endblock %}

{% block body %}
<header>
  <div class="container">
        <div class="row">
            <div class="col"><h1>Речі з історією</h1></div>
        </div>
        <div class="row">
            <div class="col"><a class="p-2 text-dark" href="{% url 'lists' %}">Список товарів</a></div>
            <div class="col"><a class="p-2 text-dark" href="{% url 'edit_request' %}">Редактор запитів</a></div>
            <div class="col"><a class="p-2 text-dark" href="#">Пошук</a></div>
            <div class="col"><a class="p-2 text-dark" href="{% url 'filtration' %}">Фільтрація</a></div>
             <div class="col"><a class="p-2 text-dark" href="#">Статистика</a></div>
        </div>
  </div>
</header>
    <h3>HOME</h3>
   <p>


<footer>

</footer>

{% endblock %}

