{% extends 'catalog/pattern.html' %}
{% block title %}
Список товарів
{% endblock %}
{% block extra_css %}
  .container {
    display: flex;
    flex-direction: column;
  }

  .row {
    display: flex;
  }

  .col {
    background-color: rgb(229, 220, 232);
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
    margin: 10px;
  }
    .cont {
    width: 100%;
    overflow: scroll;
    }
    table, td, th {
      border-collapse: collapse;
      border: 3px solid #245488;

    }
    td, th {
      padding: 5px 20px;
      text-align: center;
    background-color: rgb(229, 220, 232);
    }
    th{
    background-color: rgb(59%, 58%, 86%);
    }
    body{
    background-color: rgb(70%, 66%, 72%);
    }
    a {
    color: rgb(10, 26, 84);
    }
{% endblock %}
{% block body %}
 <div class="container">
        <div class="row">
            <div class="col"><a class="p-2 text-dark" href="{% url 'home' %}"><h1>Речі з історією</h1></a></div>
        </div>
        <div class="row">
            <div class="col"><a class="p-2 text-dark" href="{% url 'lists' %}">Список товарів</a></div>
            <div class="col"><a class="p-2 text-dark" href="{% url 'edit_request' %}">Редактор запитів</a></div>
            <div class="col"><a class="p-2 text-dark" href="#">Контакти</a></div>
             <div class="col"><a class="p-2 text-dark" href="#">Увійти</a></div>
        </div>
  </div>
<a href="{% url 'new_lists' %}">Додати товар</a> <hr>
<a href="{% url 'new_supplier' %}">Додати постачальника</a><hr>
<a href="{% url 'new_fabric' %}">Додати тканину</a><hr>
<p>
<div class="cont">
<table>
    <thead>
        <tr>
             <th>ID</th>
             <th>Тип</th>
             <th>Бренд</th>
             <th>Розмір</th>
             <th>Приналежність</th>
             <th>Колір</th>
             <th>Тканина</th>
             <th>Хімічна обробка</th>
             <th>Стан</th>
             <th>Сеезонність</th>
             <th>Ціна</th>
             <th>Дата появи</th>
             <th>Постачальник</th>
             <th>Наявність</th>
             <th>Дії</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>
            <td>{{ item.id_item }}</td>
            <td>{{ item.type }}</td>
            <td>{{ item.brand }}</td>
            <td>{{ item.get_size_display }}</td>
            <td>{{ item.get_gender_display }}</td>
            <td>{{ item.get_color_display }}</td>
            <td>{{ item.fabric }}</td>
            <td>{{ item.get_chemical_treatment_display }}</td>
            <td>{{ item.state }}</td>
            <td>{{ item.get_seasonality_display }}</td>
            <td>{{ item.price }} грн</td>
            <td>{{ item.date_of_appearance }}</td>
            <td>{{ item.supplier }}</td>
            <td>{{ item.get_sold_or_not_display }}</td>
            <td><a href="{% url 'edit_item' item.pk %}">Змінити</a>
            <a href="{% url 'delete_item' item.pk %}">Видалити</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>


</table>
    </div>
<p>
<div class="cont">
    <table>
    <thead>
        <tr>
             <th>ID</th>
             <th>Назва компанії</th>
             <th>Контактна персона</th>
             <th>Телефон</th>
             <th>Адреса(місто)</th>
             <th>Пошта</th>
             <th>Дії</th>
        </tr>
    </thead>
    <tbody>
        {% for supplier in suppliers %}
        <tr>
            <td>{{ supplier.id_supplier }}</td>
            <td>{{ supplier.company_name }}</td>
            <td>{{ supplier.contact_person }}</td>
            <td>{{ supplier.phone_number }}</td>
            <td>{{ supplier.city }}</td>
            <td>{{ supplier.email }}</td>
            <td><a href="{% url 'edit_supplier' supplier.pk %}">Змінити</a>
            <a href="{% url 'delete_supplier' supplier.pk %}">Видалити</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
    </div>
<p>
<div class="cont">
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Назва тканини</th>
            <th>Щільність</th>
            <th>Еластичність</th>
            <th>Повітропроникність</th>
            <th>Текстура</th>
            <th>Стійкість до стиснення</th>
            <th>Стійкість кольору</th>
            <th>Дії</th>
        </tr>
    </thead>

    <tbody>
        {% for fabric in fabrics %}
        <tr>
            <td>{{ fabric.id_fabric }}</td>
            <td>{{ fabric.fabric_name }}</td>
            <td>{{ fabric.get_destiny_display }}</td>
            <td>{{ fabric.get_elasticity_display }}</td>
            <td>{{ fabric.get_breathability_display }}</td>
            <td>{{ fabric.get_surface_texture_display }}</td>
            <td>{{ fabric.get_compression_resistance_display }}</td>
            <td>{{ fabric.get_color_fastness_display }}</td>
            <td><a href="{% url 'edit_fabric' fabric.pk %}">Змінити</a>
            <a href="{% url 'delete_fabric' fabric.pk %}">Видалити</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
<p>


{% endblock %}
