{% extends 'catalog/pattern.html' %}
{% block title %}
Список товарів
{% endblock %}
{% block extra_css %}

{% endblock %}
{% block body %}
<button onclick="show1()">Товари</button>
<button onclick="show2()">Постачальники</button>
<button onclick="show3()">Тканини</button>

<div><form method="POST">
        {% csrf_token %} {{ sort_form.as_p }}
<input type="submit" value="Сортувати"/></form></div>

<p><a href="{% url 'new_lists' %}">Додати товар</a><p></p>
<a href="{% url 'new_supplier' %}">Додати постачальника</a>
<p><a href="{% url 'new_fabric' %}">Додати тканину</a>


<div class="cont" id="table1" style="display: block">
<table>
    <thead>
        <tr>
             <th>ID</th>
             <th>Тип ↓↑</th>
             <th>Бренд</th>
             <th>Розмір</th>
             <th>Приналежність</th>
             <th>Колір</th>
             <th>Тканина</th>
             <th>Хімічна обробка</th>
             <th>Стан</th>
             <th>Сезонність</th>
             <th>Ціна</th>
             <th>Дата появи</th>
             <th>Постачальник</th>
             <th>Дії</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>
            <td>{{ item.id_item }}</td>
            <td>{{ item.type }}</td>
            <td>{{ item.brand }}</td>
            <td>{{ item.get_size_display }}</td>
            <td>{{ item.get_gender_display }}</td>
            <td>{{ item.get_color_display }}</td>
            <td>{{ item.fabric }}</td>
            <td>{{ item.get_chemical_treatment_display }}</td>
            <td>{{ item.get_state_display }}</td>
            <td>{{ item.get_seasonality_display }}</td>
            <td>{{ item.price }} грн</td>
            <td>{{ item.date_of_appearance }}</td>
            <td>{{ item.supplier }}</td>
            <td><a href="{% url 'edit_item' item.pk %}">Змінити</a>
            <a href="{% url 'delete_item' item.pk %}">Видалити</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</p>

</table>
    </div>
<div class="cont" id="table2">
    <table>
    <thead>
        <tr>
             <th>ID</th>
             <th>Назва компанії</th>
             <th>Ім'я контактної персони</th>
             <th>Прізвище контактної персони</th>
             <th>Телефон</th>
             <th>Місто</th>
             <th>Пошта</th>
             <th>Дії</th>
        </tr>
    </thead>
    <tbody>
        {% for supplier in suppliers %}
        <tr>
            <td>{{ supplier.id_supplier }}</td>
            <td>{{ supplier.company_name }}</td>
            <td>{{ supplier.contact_person_name }}</td>
            <td>{{ supplier.contact_person_surname }}</td>
            <td>{{ supplier.phone_number }}</td>
            <td>{{ supplier.city }}</td>
            <td>{{ supplier.email }}</td>
            <td><a href="{% url 'edit_supplier' supplier.pk %}">Змінити</a>
            <a href="{% url 'delete_supplier' supplier.pk %}">Видалити</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
    </div>
<div class="cont" id="table3">

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Назва тканини</th>
            <th>Щільність</th>
            <th>Еластичність</th>
            <th>Повітропроникність</th>
            <th>Текстура</th>
            <th>Стійкість до стиснення</th>
            <th>Стійкість кольору</th>
            <th>Дії</th>
        </tr>
    </thead>

    <tbody>
        {% for fabric in fabrics %}
        <tr>
            <td>{{ fabric.id_fabric }}</td>
            <td>{{ fabric.fabric_name }}</td>
            <td>{{ fabric.get_destiny_display }}</td>
            <td>{{ fabric.get_elasticity_display }}</td>
            <td>{{ fabric.get_breathability_display }}</td>
            <td>{{ fabric.get_surface_texture_display }}</td>
            <td>{{ fabric.get_compression_resistance_display }}</td>
            <td>{{ fabric.get_color_fastness_display }}</td>
            <td><a href="{% url 'edit_fabric' fabric.pk %}">Змінити</a>
            <a href="{% url 'delete_fabric' fabric.pk %}">Видалити</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

<script>
        document.addEventListener("DOMContentLoaded", function() {
        let table1 = document.getElementById("table1");
        let table2 = document.getElementById("table2");
        let table3 = document.getElementById("table3");

        window.show1 = function() {
            table1.style.display = "block";
            table2.style.display = "none";
            table3.style.display = "none";

        }

        window.show2 = function() {
            table1.style.display = "none";
            table2.style.display = "block";
            table3.style.display = "none";

        }

        window.show3 = function() {
            table1.style.display = "none";
            table2.style.display = "none";
            table3.style.display = "block";

        }

    });

</script>

{% endblock %}