{% extends 'catalog/pattern.html' %}

{% block title %}
:))
{% endblock %}

{% block extra_css %}
{% endblock %}
{% block body %}
 <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Виконати</button>
    </form>

<h2>Результат запиту:</h2>
{% if error_message %}
    <p>{{ error_message }}</p>
{% else %}
    <table>
        <thead>
            <tr>
                {% for column in column_names %}
                    <th>{{ column }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in result %}
            <tr>
                {% for value in row %}
                <td>{{ value }}</td>
                {% endfor %}
    </tr>
{% endfor %}
        </tbody>
    </table>
{% endif %}

{% endblock %}
