{% extends 'catalog/pattern.html' %}

{% block title %}
:))
{% endblock %}

{% block extra_css %}
{% endblock %}
{% block body %}
Вещи:

Средняя цена вещей каждого бренда.
Количество вещей каждого бренда.
Количество вещей каждого размера.
Количество вещей каждого цвета.
Количество вещей для каждого пола.
Количество вещей для каждого сезона.
Количество вещей в каждом состоянии.
Поставщики:

Количество поставщиков.
Количество вещей, поставляемых каждым поставщиком.
Средняя цена вещей у каждого поставщика.

Ткань:
Количество различных видов ткани.
по каждому качеству пройтись
Статистика №1
Средняя цена вещей каждого типа.
{% endblock %}
