{% extends 'catalog/pattern.html' %}

{% block title %}
:))
{% endblock %}

{% block extra_css %}
{% endblock %}
{% block body %}
<h2>Звіти</h2>
<ul>
    <li><a href="{% url 'choose_a_company' %}">Звіт 1 - договір про співробітництво(партнерство)</a></li>
    <li><a href="{% url 'choose_a_receipt' %}">Звіт 2 - документ(чек) про покупку товару</a></li>
</ul>
<h2>Статистика </h2>

<h3>Середня ціна речей кожного бренду</h3>
<ul>
{% for item in average_price_per_brand %}
    <li>{{ item.brand }}: {{ item.average_price|floatformat:2 }} грн</li>
{% endfor %}
</ul>
<h3>Кількість речей кожного бренду</h3>
<ul>
{% for item in count_per_brand %}
    <li>{{ item.brand }}: {{ item.count }}</li>
{% endfor %}
</ul>
<h3>Кількість речей за кожним постачальником</h3>
<ul>
{% for supplier in count_per_supplier %}
    <li>{{ supplier.supplier__company_name }}: {{ supplier.count }}</li>
{% endfor %}
</ul>
<h3>Середня ціна речей кожного постачальника</h3>
<ul>
{% for supplier in average_price_per_supplier %}
    <li>{{ supplier.supplier__company_name }}: {{ supplier.average_price|floatformat:2 }} грн</li>
{% endfor %}
</ul>
<h3>Поставки: </h3>
<ul>
<li>Постачальник з найбільшою кількістю поставок: {% for supplier in most_deliveries_suppliers %} {{ supplier.supplier__company_name }}; {% endfor %}</li><br>
<li>Постачальник з найменшою кількістю поставок: {% for supplier in least_deliveries_suppliers %} {{ supplier.supplier__company_name }}; {% endfor %}</li><br>
</ul>
   <h3>Чеки та їх сума: </h3>
<ul>
    {% for receipt in receipt_totals %}
    <li>№ {{ receipt.number_of_receipt|stringformat:"07d" }}: {{ receipt.total|floatformat:2  }} грн</li>
{% endfor %}
</ul>

<h3>Середня ціна товару за тканинами: </h3>
<ul>
{% for fabric in average_price_per_fabric_type %}
    <li>{{ fabric.fabric__fabric_name }}: {{ fabric.average_price|floatformat:2 }} грн</li>
{% endfor %}
</ul>
{% endblock %}
